* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-image: linear-gradient(to bottom, #585050, #368f97);
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  color: white; }

header .ancho {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch; }
  header .ancho .tituloConSlogan {
    flex-basis: 70%;
    padding-top: 10px; }
    header .ancho .tituloConSlogan h1 {
      font-size: 150%;
      color: turquoise;
      text-align: center;
      text-transform: uppercase;
      font-family: 'Vollkorn', serif; }
    header .ancho .tituloConSlogan .slogan {
      font-size: 100%;
      text-align: center;
      animation-duration: 5s;
      animation-name: aparecer; }

@keyframes aparecer {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
  header .ancho .logo {
    flex-basis: 0%;
    padding-top: 5px;
    text-align: center; }
    header .ancho .logo img {
      width: 40%; }

header nav div {
  justify-content: center; }

main section div {
  justify-content: center; }
  main section div .quienesSomos {
    background-color: #485461;
    background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
    border: solid 3px cornsilk; }
    main section div .quienesSomos h3 {
      color: lime;
      margin: 10px;
      font-size: 100%;
      text-align: center;
      animation-name: un_efecto;
      animation-iteration-count: unset;
      animation-timing-function: ease-in;
      animation-duration: 2s;
      animation-delay: 0s; }

@keyframes un_efecto {
  0% {
    color: white; }
  25% {
    color: aquamarine; }
  50% {
    color: aqua; }
  75% {
    color: limegreen; } }
    main section div .quienesSomos p {
      padding: 3px;
      margin: 3px;
      line-height: 2;
      font-size: 75%; }
  main section div .mision {
    background-color: #485461;
    background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
    border: solid 3px cornsilk; }
    main section div .mision h3 {
      color: lime;
      margin: 10px;
      font-size: 100%;
      text-align: center;
      animation-name: un_efecto;
      animation-iteration-count: unset;
      animation-timing-function: ease-in;
      animation-duration: 2s;
      animation-delay: 0s; }

@keyframes un_efecto {
  0% {
    color: white; }
  25% {
    color: aquamarine; }
  50% {
    color: aqua; }
  75% {
    color: limegreen; } }
    main section div .mision p {
      padding: 3px;
      margin: 3px;
      line-height: 2;
      font-size: 75%; }
  main section div .vision {
    background-color: #485461;
    background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
    border: solid 3px cornsilk; }
    main section div .vision h3 {
      color: lime;
      margin: 10px;
      font-size: 100%;
      text-align: center;
      animation-name: un_efecto;
      animation-iteration-count: unset;
      animation-timing-function: ease-in;
      animation-duration: 2s;
      animation-delay: 0s; }

@keyframes un_efecto {
  0% {
    color: white; }
  25% {
    color: aquamarine; }
  50% {
    color: aqua; }
  75% {
    color: limegreen; } }
    main section div .vision p {
      padding: 3px;
      margin: 3px;
      line-height: 2;
      font-size: 75%; }

main .tablaDeHorarios {
  background-color: #485461;
  background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
  color: aliceblue;
  border: solid 3px cornsilk;
  grid-area: tablaDeHorarios;
  line-height: 1.6;
  letter-spacing: 5px;
  word-spacing: 10px;
  font-size: 75%;
  overflow: scroll; }
  main .tablaDeHorarios h3 {
    color: lime;
    margin: 10px;
    font-size: 100%;
    text-align: center;
    animation-name: un_efecto;
    animation-iteration-count: unset;
    animation-timing-function: ease-in;
    animation-duration: 2s;
    animation-delay: 0s; }

@keyframes un_efecto {
  0% {
    color: white; }
  25% {
    color: aquamarine; }
  50% {
    color: aqua; }
  75% {
    color: limegreen; } }
  main .tablaDeHorarios div .table {
    padding: 5px; }
    main .tablaDeHorarios div .table .fila {
      color: lime; }

footer {
  background-color: darkslategray;
  font-size: 100%;
  margin: 10px;
  padding: 10px;
  border: solid 1px cornsilk;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  gap: 2px;
  justify-items: center; }
  footer .contacto {
    padding: 10px;
    margin: 10px;
    line-height: 1.5; }
    footer .contacto h4 {
      font-size: 100%; }
    footer .contacto h6 {
      font-size: 75%; }
  footer .seguinos {
    padding: 10px;
    margin: 10px;
    line-height: 1.5; }
    footer .seguinos h4 {
      font-size: 100%; }
    footer .seguinos img {
      width: 40px; }
  footer .encontranos h4 {
    font-size: 100%; }
  footer .encontranos h6 {
    font-size: 75%; }
  footer .encontranos img {
    width: 40px; }

/*mobile first*/
@media only screen and (min-width: 480px) {
  header {
    width: 100%; }
    header .ancho {
      width: 100%; }
      header .ancho .tituloConSlogan {
        font-size: 200%; }
        header .ancho .tituloConSlogan h1 {
          color: turquoise;
          font-size: 250%; }
        header .ancho .tituloConSlogan .slogan {
          font-size: 175%; }
      header .ancho .logo img {
        width: 40%; }
  main section div .quienesSomos {
    border: solid 4px cornsilk; }
    main section div .quienesSomos h3 {
      font-size: 200%; }
    main section div .quienesSomos p {
      font-size: 150%; }
  main section div .mision {
    border: solid 4px cornsilk; }
    main section div .mision h3 {
      font-size: 200%; }
    main section div .mision p {
      font-size: 150%; }
  main section div .vision {
    border: solid 4px cornsilk; }
    main section div .vision h3 {
      font-size: 200%; }
    main section div .vision p {
      font-size: 150%; }
  main .tablaDeHorarios h3 {
    font-size: 200%; }
  main .tablaDeHorarios div .table {
    font-size: 125%; }
  footer {
    font-size: 70%;
    gap: 0px; }
    footer .contacto a {
      font-size: 200%; }
    footer .contacto h4 {
      font-size: 200%; }
    footer .contacto h6 {
      font-size: 150%; }
    footer .seguinos h4 {
      font-size: 200%; }
    footer .seguinos img {
      width: 70px; }
    footer .encontranos h4 {
      font-size: 200%; }
    footer .encontranos h6 {
      font-size: 150%; }
    footer .encontranos img {
      width: 80px; } }

@media only screen and (min-width: 768px) {
  header {
    width: 100%; }
    header .ancho {
      width: 100%; }
      header .ancho .tituloConSlogan {
        font-size: 200%; }
        header .ancho .tituloConSlogan h1 {
          color: turquoise;
          font-size: 250%; }
        header .ancho .tituloConSlogan .slogan {
          font-size: 175%; }
      header .ancho .logo img {
        width: 30%; }
  main section div .quienesSomos {
    border: solid 4px cornsilk; }
    main section div .quienesSomos h3 {
      font-size: 200%; }
    main section div .quienesSomos p {
      font-size: 150%; }
  main section div .mision {
    border: solid 4px cornsilk; }
    main section div .mision h3 {
      font-size: 200%; }
    main section div .mision p {
      font-size: 150%; }
  main section div .vision {
    border: solid 4px cornsilk; }
    main section div .vision h3 {
      font-size: 200%; }
    main section div .vision p {
      font-size: 150%; }
  main .tablaDeHorarios h3 {
    font-size: 200%; }
  main .tablaDeHorarios div .table {
    font-size: 175%; }
  footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr; }
    footer .contacto a {
      font-size: 150%; }
    footer .contacto h4 {
      font-size: 175%; }
    footer .contacto h6 {
      font-size: 150%; }
    footer .seguinos h4 {
      font-size: 175%; }
    footer .seguinos img {
      width: 70px; }
    footer .encontranos h4 {
      font-size: 175%; }
    footer .encontranos h6 {
      font-size: 150%; }
    footer .encontranos img {
      width: 150px; } }

@media only screen and (min-width: 1024px) {
  header {
    width: 100%; }
    header .ancho {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: stretch; }
      header .ancho .tituloConSlogan {
        flex-basis: 70%; }
        header .ancho .tituloConSlogan h1 {
          color: turquoise;
          font-size: 200%; }
        header .ancho .tituloConSlogan .slogan {
          font-size: 150%; }
      header .ancho .logo {
        flex-basis: 30%; }
        header .ancho .logo img {
          width: 40%; }
    header nav div {
      font-size: 125%; }
  main section div .quienesSomos {
    border: solid 4px cornsilk; }
    main section div .quienesSomos h3 {
      font-size: 200%; }
    main section div .quienesSomos p {
      font-size: 175%; }
  main section div .mision {
    border: solid 4px cornsilk; }
    main section div .mision h3 {
      font-size: 200%; }
    main section div .mision p {
      font-size: 175%; }
  main section div .vision {
    border: solid 4px cornsilk; }
    main section div .vision h3 {
      font-size: 200%; }
    main section div .vision p {
      font-size: 175%; }
  main .tablaDeHorarios h3 {
    font-size: 200%; }
  main .tablaDeHorarios div .table {
    font-size: 175%; }
  footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr; }
    footer .contacto a {
      font-size: 150%; }
    footer .contacto h4 {
      font-size: 175%; }
    footer .contacto h6 {
      font-size: 150%; }
    footer .seguinos h4 {
      font-size: 175%; }
    footer .seguinos img {
      width: 80px; }
    footer .encontranos h4 {
      font-size: 175%; }
    footer .encontranos h6 {
      font-size: 150%; }
    footer .encontranos img {
      width: 150px; } }
