header{
    .ancho{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: stretch;
        .tituloConSlogan{
            flex-basis: 70%;
            padding-top: 10px;
            h1{
                font-size: 150%;
                color: $color-titulo1;
                text-align: center;
                text-transform: uppercase;
                font-family: 'Vollkorn', serif;
            }
            .slogan{
                font-size: 100%;
                text-align: center;
                animation-duration: 5s;
                animation-name: aparecer;
            }
            @keyframes aparecer {
                0% {
                  opacity: 0;
                }
                100% {
                  opacity: 1;
                }
             } 
        }
        .logo{
            flex-basis: 30%;
            padding-top: 5px;
            text-align:center;
            img{
                width: 25%;
            }
        }
    }
    nav{
        div{
            justify-content: center;
        }
    }
}
