main{
    .textoBase{
        background-image:  url("/img/fondo1.jpg");
        margin: 20px;
        div{
            justify-content: center;
            .quienesSomos{
                h3{
                    color: $color-titulos;
                    margin: 10px;
                    font-size: 100%;
                    text-align: center;
                    animation-name: un_efecto;
                    animation-iteration-count:unset;
                    animation-timing-function: ease-in;
                    animation-duration: 2s;
                    animation-delay: 0s;
                }
                @keyframes un_efecto {
                    0%{color: white;}
                    25%{color: orange;}
                    50%{color:peru;}
                    75%{color:orangered}
                }
                p{
                    padding: 3px;
                    margin: 3px;
                    line-height: 2;
                    font-size: 75%;
                }
            }
            .mision{
                h3{
                    color: $color-titulos;
                    margin: 10px;
                    font-size: 100%;
                    text-align: center;
                    animation-name: un_efecto;
                    animation-iteration-count:unset;
                    animation-timing-function: ease-in;
                    animation-duration: 2s;
                    animation-delay: 0s;
                }
                p{
                    padding: 3px;
                    margin: 3px;
                    line-height: 2;
                    font-size: 75%;
                }
            }
            .vision{
                h3{
                    color: $color-titulos;
                    margin: 10px;
                    font-size: 100%;
                    text-align: center;
                    animation-name: un_efecto;
                    animation-iteration-count:unset;
                    animation-timing-function: ease-in;
                    animation-duration: 2s;
                    animation-delay: 0s;
                }
                p{
                    padding: 3px;
                    margin: 3px;
                    line-height: 2;
                    font-size: 75%;
                }
            }
        }
    }
    .tablaDeHorarios{
        grid-area: tablaDeHorarios;
        line-height: 1.6;
        letter-spacing: 5px;
        word-spacing: 10px;
        font-size: 75%;
        overflow: scroll;
        h3{
            color: $color-titulos;
            margin: 10px;
            font-size: 100%;
            text-align: center;
            animation-name: un_efecto;
            animation-iteration-count:unset;
            animation-timing-function: ease-in;
            animation-duration: 2s;
            animation-delay: 0s;
        }
        div{
            .table{
                padding:5px;
                .fila{
                    color:$color-titulos;
                }
            }
        }
    }
    .diasHorarios{
        .dias{
            display: flex;
            flex-direction:row;
            justify-content: center;
            .apertura{
                margin: 20px;
                background-color:black;
                width: 30%;
                border-radius: 25%;
                height: auto;
                h3{
                    font-size: 100%;
                    margin: 5px;
                    padding: 5px;
                    text-align: center;
                    color: #FF7100;
                }
                p{
                    font-size: 75%;
                    margin: 5px;
                    padding: 5px;
                    text-align: center;
                    color: #FF7100;
                }
            }
        }
    }
}