@media only screen and (min-width: 480px){
    header{
        width: 100%;
        .ancho{
            width: 100%;
            .tituloConSlogan{
                font-size: 200%;
                h1{
                    font-size: 250%;
                }
                .slogan{
                    font-size: 175%;
                }
            }
            .logo{
                img{
                    width: 40%;
                }
            }
        }
    }
    main{
        .textoBase{
            div{
                .quienesSomos{
                    h3{
                        font-size: 200%;
                    }
                    p{
                        font-size: 150%;
                    }
                }
                .mision{
                    h3{
                        font-size: 200%;
                    }
                    p{
                        font-size: 150%;
                    }
                }
                .vision{
                    h3{
                        font-size: 200%;
                    }
                    p{
                        font-size: 150%;
                    }
                }
            }
        }
        .tablaDeHorarios{
            h3{
                font-size: 200%;
            }
            div{
                .table{
                    font-size: 125%;
                }
            }
        }
    }
    .footerIndex{
        font-size: 70%;
        gap: 0px;
        .contacto{
            a{
                font-size: 200%;
            }
            h4{
                font-size: 200%;
            }
            h6{
                font-size: 150%;
            }
        }
        .seguinos{
            h4{
                font-size: 200%;
            }
            img{
                width: 70px;
            }
        }
        .encontranos{
            h4{
                font-size: 200%;
            }
            h6{
                font-size: 150%;
            }
            img{
                width: 80px;
            }
        }
    }
}
@media only screen and (min-width: 768px){
    header{
        width: 100%;
        .ancho{
            width: 100%;
            .tituloConSlogan{
                font-size: 200%;
                h1{
                    font-size: 225%;
                }
                .slogan{
                    font-size: 150%;
                }
            }
            .logo{
                img{
                    width: 25%;
                }
            }
        }
    }
    main{
        .textoBase{
            div{
                .quienesSomos{
                    h3{
                        font-size: 200%;
                    }
                    p{
                        font-size: 150%;
                    }
                }
                .mision{
                    h3{
                        font-size: 200%;
                    }
                    p{
                        font-size: 150%;
                    }
                }
                .vision{
                    h3{
                        font-size: 200%;
                    }
                    p{
                        font-size: 150%;
                    }
                }
            }
        }
        .tablaDeHorarios{
            h3{
                font-size: 200%;
            }
            div{
                .table{
                    font-size: 175%;
                }
            }
        }
        .diasHorarios{
            .dias{
                .apertura{
                    h3{
                        font-size: 200%;
                    }
                    p{
                        font-size: 175%;
                    }
                }
            }
        }
    }
    .footerIndex{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        .contacto{
            a{
                font-size: 150%;
            }
            h4{
                font-size: 175%;
            }
            h6{
                font-size: 150%;
            }
        }
        .seguinos{
            h4{
                font-size: 175%;
            }
            img{
                width: 70px;
            }
        }
        .encontranos{
            h4{
                font-size: 175%;
            }
            h6{
                font-size: 150%;
            }
            img{
                width: 150px;
            }
        }
    }
}
@media only screen and (min-width: 1024px){
    header{
        width: 100%;
        .ancho{
            display: flex;
            flex-direction:row;
            flex-wrap: nowrap;
            justify-content: center;
            align-items: stretch;
            .tituloConSlogan{

                flex-basis: 80%;
                h1{
                    font-size: 200%;
                }
                .slogan{
                    font-size: 150%;
                }
            }
            .logo{
                flex-basis: 20%;
                text-align: left;
                img{
                    width: 50%;
                }
            }
        }
        nav div{
            font-size: 125%;
        }
    }
    main{
        .textoBase{
            div{
                .quienesSomos{
                    h3{
                        font-size: 200%;
                    }
                    p{
                        font-size: 175%;
                    }
                }
                .mision{
                    border-right: solid 1px cornsilk;
                    h3{
                        font-size: 200%;
                    }
                    p{
                        font-size: 175%;
                    }
                }
                .vision{
                    h3{
                        font-size: 200%;
                    }
                    p{
                        font-size: 175%;
                    }
                }
            }
        }
        .tablaDeHorarios{
            overflow:auto; 
            h3{
                margin-top: 25px;
                font-size: 200%;
            }
            div{
                .table{
                    font-size: 175%;
                }
            }
        }
    }
    .footerIndex{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        .contacto{
            a{
                font-size: 150%;
            }
            h4{
                font-size: 175%;
            }
            h6{
                font-size: 150%;
            }
        }
        .seguinos{
            h4{
                font-size: 175%;
            }
            img{
                width: 80px;
            }
        }
        .encontranos{
            h4{
                font-size: 175%;
            }
            h6{
                font-size: 150%;
            }
            img{
                width: 150px;
            }
        }
    }
}