* {
    Margin:0;
    padding:0;
    box-sizing: border-box;
 }

/*estillo para pag rutina*/

body{
    background-color: lightblue;
    background-image: linear-gradient(to bottom,  rgb(88, 80, 80), rgb(54, 143, 151));
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
}
header{
    width: 100%;
}
.ancho{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
}
.logo{
    flex-basis: 30%;
    padding-top: 10px;
}
.titulo{
    flex-basis: 70%;
    padding-top: 20px;
}
h1{
    color: ghostwhite;
    font-size: 300%;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Vollkorn', serif;
    animation-name: aparecer;
    animation-duration: 5s;    
}
@keyframes aparecer {
    0% {opacity: 0; }
    100% {opacity: 1; } 
}


nav div{
    justify-content:center;
    font-size: 125%;
}

/*Menu con Bootstrap*/
/*ul{
    list-style-type: none;
    padding: 5px;
    font-size: 0;
    background-color: #485461;
    background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
}
li{
    display: inline-block;
    width: 20%;
    position: relative;
    text-align: center;
    font-size: 20px;
}
ul ul{
    position: absolute;
    display: none;
    padding: 5px;
    width: 100%;

}
ul ul li{
    display: block;
    text-align: center;
    width: 100%;
    font-size: 15px;
    line-height: 2;
}
li:hover{
    background-color:black;
    border:solid 2px chartreuse;
    font-weight: bold;
    transform: scale(1.2,1);
}
a{
    color: azure;
    text-decoration: none;
}
a:hover{
    color:lime;
}
ul li:hover ul{
    display: block;
}*/


.videoDefinicion{
    text-align: center;
}
.videoDeVolumen{
    text-align: center;
}

.rutina{
    background-color: #485461;
    background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
    Margin:60px;
    border: solid 1px cornsilk;
}
.rutina__titulo{
    color:lime;
    font-size: 200%;
    text-align: center;
    border: none;
}
.rutina__titulo--segundario{
    color: ghostwhite;
    font-size: 200%;
    Margin:55px;
    border: none;
}
.rutina__texto{
    Margin: 50px;
    font-size: 150%;
    color: ghostwhite;
    line-height: 2;
    border: none;
}
.videoDefinicion{
    Margin: 60px;
}


.volumen{
    background-color: #485461;
    background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
    Margin:60px;
    border: solid 1px cornsilk;
}
.volumen__titulo{
    color: ghostwhite;
    font-size: 200%;
    Margin:55px;
    border: none;
}
.volumen__texto{
    Margin: 50px;
    font-size: 150%;
    color: ghostwhite;
    line-height: 2;
    border: none;
}
.videoDeVolumen{
    Margin: 60px;
}

.footerRutina{
    background-color:darkslategray;
    Margin: 15px;
    padding: 15px;
    height: auto;
    font-size: 100%;
    color: ghostwhite;
    border: solid 1px cornsilk;
}
h4{
    text-align: center;
    font-size: 200%;
}
.footerRutina div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    Margin: 10px;
    padding: 2px;
}
.footerRutina div div{
    display: block;
    text-align: center;
}
.messi__foto{
    width: 20%;
}
.messi__texto{
    font-size: 150%;
}

.dybala__foto{
    width: 20%;
}
.dybala__texto{
    font-size: 150%;
}




/*estillo para pag nutricion*/
h2{
    color:lime;
    font-size: 200%;
    Margin:55px;
}
h3{
    color:lime;
    font-size: 200%;
}
.indice{
    margin-top: 40px;
    margin-left:auto;
    margin-right: auto;
    width: 35%;
    border: solid 1px cornsilk;
    background-color: #485461;
    background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
}
.indice div h2{
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}
.detalleIndice{
    width: 100%;
    color: ghostwhite;
}
.detalleIndice li{
    line-height: 2;
    width: 100%;
    display: block;
}

.detalleIndice li a{
    font-size: 100%;
    text-decoration: none;
    color: white;
}
.detalleIndice li a:hover{
    color:yellowgreen;
}
video{
    Margin:55px;
}

.nutricionDeportiva{
    text-align: center;
    Margin: 60px;
    width: 90%;
    border: solid 1px cornsilk;
    background-color: #485461;
    background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
}

.momentosDeLaNutricion{
    Margin: 60px;
    width: 90%;
    color: ghostwhite;
}
.momentosDeLaNutricion h2{
    text-align: center;
    color:lime;
    border-bottom: solid 1px cornsilk;
    width: 95%;
    padding: 10px;
    font-size: 200%;
    background-color: #485461;
    background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
}
.momentosDeLaNutricion div{
    margin-left: 55px;
    border: solid 1px cornsilk;
    background-color: #485461;
    background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
}
.energia__titulo{
    text-align: center;
    padding: 10px;
    color:lime;
    font-size: 200%;    
}
.energia__texto{
    color: ghostwhite;
    line-height: 2;
    font-size: 150%;
    padding: 10px;
}

.antesEjercicio__titulo{
    text-align: center;
    padding: 10px;
    color:lime;
    font-size: 200%;    
}
.antesEjercicio__texto{
    color: ghostwhite;
    line-height: 2;
    font-size: 150%;
    padding: 10px;
}

.mientrasEjercicio__titulo{
    text-align: center;
    padding: 10px;
    color:lime;
    font-size: 200%;    
}
.mientrasEjercicio__texto{
    color: ghostwhite;
    line-height: 2;
    font-size: 150%;
    padding: 10px;
}

.despuesEjercicio__titulo{
    text-align: center;
    padding: 10px;
    color:lime;
    font-size: 200%;    
}
.despuesEjercicio__texto{
    color: ghostwhite;
    line-height: 2;
    font-size: 150%;
    padding: 10px;
}
.suplemento__titulo{
    text-align: center;
    padding: 10px;
    color:lime;
    font-size: 200%;    
}
.suplemento__texto{
    color: ghostwhite;
    line-height: 2;
    font-size: 150%;
    padding: 10px;
}

.nutricionDeportiva iframe{
    margin: 55px;
}


.footerNutricion{
    background-color:darkslategray;
    Margin: 15px;
    padding: 15px;
    height: auto;
    font-size: 100%;
    color: ghostwhite;
    border: solid 1px cornsilk;
}

.footerNutricion div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    Margin: 10px;
    padding: 2px;
}
.footerNutricion div div{
    display: block;
    text-align: center;
}
.gaceta__foto{
    width: 20%;
}
.gaceta__texto{
    font-size: 150%;
}

.lopez__foto{
    width: 20%;
}
.lopez__texto{
    font-size: 150%;
}





/*estillo para pag lista de precios*/

.tablaPrecios{
    background-color: #485461;
    background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
    border: solid 1px cornsilk;
    margin: 55px;
    width: 90%;
    display: flex;
    flex-direction:row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
}
.tabla{
    flex-basis: 35%;
}
.fotos{
    padding: 10px;
    margin: 5px;
    flex-basis: 65%;
}
table{
    margin: 55px;
    font-size: 150%;
    color: ghostwhite;
}
.detallePrecios{
    margin: 40px;
    border: solid 1px cornsilk;
    background-color: #485461;
    background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
}
.tabla h2{
    text-align: center;
    padding: 10px;
    color:lime;
    font-size: 200%;    
}
.detallePrecios h2{
    text-align: center;
    padding: 10px;
    color:lime;
    font-size: 200%; 
}
.detallePrecios h4{
    text-align:left;
    color:lime;
    padding: 10px;
    margin: 10px;
    font-size: 175%; 
}

.detallePrecios p{
    color: ghostwhite;
    line-height: 2;
    font-size: 150%;
    padding: 5px;
    margin: 10px;
}

.metodoDePago{
    background-color:darkslategray;
    Margin: 15px;
    padding: 15px;
    height: auto;
    border: solid 1px cornsilk;
    text-align: center;
}

/*estillo para pag formulario*/

.formulario{
    background-color: #485461;
    background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
    margin: 30px;
}

legend{
    color:lime;
    font-size: 200%;
    text-align: center;
} 
fieldset div{
    font-size: 125%;
    margin: 20px;
    color: ghostwhite;
}
.enviarBorrar{
    text-align: center;
}
.enviarBorrar input{
    font-size: 100%;
}

.transicion input{
    width: auto; height:auto;
    font-size: 75%;
    transition: all 2s;       
}
.transicion input:focus {
    width: 300px;
    height: auto;
    font-size: 24px;
}
/*cols="70" rows="5"*/

.footerForm{
    background-color:darkslategray;
    color: white;
    margin: 10px;
    padding: 10px;
    border: solid 1px cornsilk;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    gap: 2px;
    justify-items: center;
}
.contacto{
    padding: 10px;
    margin: 10px;
    line-height: 1.5;
}
.contacto a{
    font-size: 150%;
}
.contacto h4{
    font-size: 175%;
}
.contacto h6{
    font-size: 150%;
}
.seguinos{
    padding: 10px;
    margin: 10px;
    line-height: 1.5;
}
.seguinos h4{
    font-size: 175%;
}
.seguinos img{
    width: 80px;
}
.encontranos h4{
    font-size: 175%;
}
.encontranos h6{
    font-size: 150%;
}
.encontranos img{
    width: 150px;
}

 